<div class="home">
    <h2>Effectively track your weight and BMI over time</h2>
    <%= link_to "Sign up for a free account", new_user_registration_path, class: "btn btn-primary btn-lg btn-block", html_options: { role: "button" } %>
    <%= image_tag asset_path('weight-tracker-screenshot.png'), title: "Try Simple Weight Tracker Today!", alt: "weight tracker screenshot", class: "screenshot" %> 

    <p> Or if you already have an account, <%= link_to "Sign in now", new_user_session_path %> </p> 
</div>
