<div class="misc-content-container col-md-8 col-xs-8">
    <h2>Your Profile</h2>
    <% unless @user_profile.errors %>
        <div class="notify notify-success">
            <h3><%= flash.success %></h3>
        </div>
    <% end %>
    <%= render "form" %>
</div>
