<div class="auth-container">
    <h2>Your Profile</h2>
    <h3>Editing your profile</h3>
    <p>You can edit your profile at any time.</p>

    <% if flash[:alert] %>
        <div class="notify notify-notification">
            <p><%= flash[:alert] %></p>
        </div>
    <% elsif flash[:notice] %>
        <div class="notify">
            <p><%= flash[:notice] %></p>
        </div>
    <% end %>
    <%= render "form" %>
    <%= render partial: 'profile_integrations' %>
</div>
