<div class="auth-container">
    <h2>Your Profile</h2>
    <h3>Editing your profile</h3>
    <p>You can edit your profile at any time.</p>

    <% unless @user_profile.errors %>
        <div class="notify notify-success">
            <h3><%= flash.success %></h3>
        </div>
    <% end %>
    <%= render "form" %>
    <%= render partial: 'profile_integrations' %>
</div>
